@media  screen and (max-width: 420px) {
    body {
        margin: 0;
    }
    .row {
        width: 100%;
    }
    .container.grey {
        width: 100%;
    }
    #lezioni .row {
        background-color: #f2f2cd;
    }
    #steps .row {
        background-color: #fff;
    }
    #why .row {
        background-color: #f2f2cd;
    }
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
        float: none;
        padding: 20px 10px;
    }
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        float: none;
        width: 100%;
        padding: 20px 10px;
    }
    #lezioni .row,
    #steps .row,
    #why .row {
        padding-top: 20px;
    }
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        padding: 0px 10px;
    }
    #why .row hr {
        margin-top: 20px;
    }
    #why .row>.third {
        margin-bottom: 30px;
    }
}