/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#lezioni .row,
#why .row {
    margin-top: 0;
}
#steps .row {
     margin-top: 0;
     padding: 80px 0px;
 }
#lezioni .row>.left,
#lezioni .row>.right {
    padding: 20px 10px;
}
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
    padding: 20px 10px;
}
#lezioni .row,
#steps .row,
#why .row {
    padding-top: 20px;
}
#why .row>.first,
#why .row>.second,
#why .row>.third {
    padding: 0px 10px;
}
#why .row hr {
    margin-top: 20px;
}
#why .row>.third {
    margin-bottom: 30px;
}

/* 769px - 992px */
@media screen and (min-width: 769px) {
    .row {
        width: 100%;
    }
}

/* 421px - 768px */
@media screen and (max-width: 768px) {
    .row {
        width: 100%;
    }
    img {
        height: 120px;
    }
    #lezioni .row {
        background-color: #f2f2cd;
    }
    #why .row {
        background-color: #f2f2cd;
    }
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 50%;
        float: left;
    }
    #steps .row>.left,
    #steps .row>.central {
        float: left;
        width: 50%;
    }
    #steps .row>.right {
        float: none;
        width: 50%;
        margin: auto;
        margin-top: 240px;
    }
}

/* 0 - 420px */
@media  screen and (max-width: 420px) {
    .row {
        width: 100%;
    }
    .container.grey {
        width: 100%;
    }
    #lezioni .row {
        background-color: #f2f2cd;
    }
    #steps .row {
        background-color: #fff;
    }
    #why .row {
        background-color: #f2f2cd;
    }
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
        float: none;
    }
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        float: none;
        width: 100%;
    }
    #steps .row>.right {
        margin-top: 0;
    }
}